@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import "./variables.scss";

@import "./header.scss";
@import "./themes.scss";
@import "./overlay.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    // visibility: hidden;
    user-select: none;
    overscroll-behavior: none;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}