.intro-overlay {
    .top {
        height: 50vh;
        position: absolute;
        width: 100%;
        z-index: 3;

        .overlay-top {
            position: absolute;
            height: 100%;
            width: 33.333vw;
            background: $black;
            bottom: 0;
            left: 0;
            right: 0;


            &:nth-child(2) {
                left: 33.333%;

            }

            &:nth-child(3) {
                left: 66.666%;

            }
        }
    }

    .bottom {
        height: 50vh;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 3;

        .overlay-bottom {
            position: absolute;
            height: 100%;
            width: 33.333vw;
            background: $black;
            bottom: 0;
            right: 66.666%;

            &:nth-child(2) {
                right: 33.333%;
            }


            &:nth-child(3) {
                right: 0;

            }
        }
    }
}

@media(max-width: 737px) {
    .intro-overlay {
        .top {
            .overlay-top {
                width: 100vw;

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    display: none;
                }
            }
        }

        .bottom {
            .overlay-bottom {
                width: 100vw;
                right: 0;

                &:nth-child(2) {
                    width: 100vw;
                    top: 100%;
                    right: 0;
                }

                &:nth-child(3) {
                    width: 100vw;
                    top: 200%;
                }
            }
        }
    }
}